In [8]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"/content/credit_scoring - credit_scoring.csv")
df.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771,6,957000,2.76,12,Auto Loan
3,58,Female,Married,PhD,Unemployed,0.12,1371,2,4731000,6.57,60,Auto Loan
4,32,Male,Married,Bachelor,Self-Employed,0.99,828,2,3289000,6.28,36,Personal Loan

In [6]:
cat_columns = [feature for feature in df.columns if df[feature].dtype == 'O']
print(cat_columns)

['Gender', 'Marital Status', 'Education Level', 'Employment Status', 'Type of Loan']

In [15]:
df['Type of Loan'].value_counts()

Type of Loan
Auto Loan        348
Home Loan        328
Personal Loan    324
Name: count, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1000 non-null   int64
 1   Gender                     1000 non-null   object
 2   Marital Status             1000 non-null   object
 3   Education Level            1000 non-null   object
 4   Employment Status          1000 non-null   object
 5   Credit Utilization Ratio   1000 non-null   float64
 6   Payment History            1000 non-null   int64
 7   Number of Credit Accounts  1000 non-null   int64
 8   Loan Amount                1000 non-null   int64
 9   Interest Rate              1000 non-null   float64
 10  Loan Term                  1000 non-null   int64
 11  Type of Loan               1000 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 93.9+ KB

In [21]:
cat_columns = ['Gender', 'Marital Status', 'Education Level', 'Employment', 'Type of Loan']
num_columns = df.select_dtypes(exclude='object').columns.tolist()

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, StandardScaler

transformer = ColumnTransformer(
    transformers=[
        ('gender_en', OrdinalEncoder(categories=[['Male', 'Female']]), ['Gender']),
        ('marital_en', OrdinalEncoder(categories=[['Married', 'Divorced', 'Single']]), ['Marital Status']),
        ('education_en', OrdinalEncoder(categories=[['High School', 'Bachelor', 'Master', 'PhD']]), ['Education Level']),
        ('emp_en', OrdinalEncoder(categories=[['Unemployed', 'Employed', 'Self-Employed']]), ['Employment Status']),
        ('loan_en', OrdinalEncoder(categories=[['Auto Loan', 'Home Loan', 'Personal Loan']]), ['Type of Loan']),
        ('scaler', StandardScaler(), num_columns)
    ],
    remainder='drop'
)

df_transformed = transformer.fit_transform(df)

In [24]:
df_transformed = transformer.fit_transform(df)

feature_names = transformer.get_feature_names_out()
df_transformed = pd.DataFrame(df_transformed, columns=feature_names)

In [25]:
df_transformed

,gender_en__Gender,marital_en__Marital Status,education_en__Education Level,emp_en__Employment Status,loan_en__Type of Loan,scaler__Age,scaler__Credit Utilization Ratio,scaler__Payment History,scaler__Number of Credit Accounts,scaler__Loan Amount,scaler__Interest Rate,scaler__Loan Term
0,0.0,0.0,2.0,1.0,2.0,1.304512,-0.996696,1.489010,-1.220940,1.589493,-1.467519,0.623840
1,0.0,0.0,0.0,0.0,0.0,-1.334979,-1.065446,1.109563,1.166373,0.827783,-1.003704,1.312405
2,1.0,2.0,2.0,1.0,0.0,-0.957909,-0.996696,1.592935,0.143239,-1.092363,-1.447433,-1.441855
3,1.0,0.0,3.0,0.0,0.0,1.153684,-1.340444,-0.098866,-1.220940,1.629887,-0.751710,1.312405
4,0.0,0.0,1.0,2.0,2.0,-0.807081,1.650160,-0.755044,-1.220940,0.589748,-0.804665,-0.064725
...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,1.0,0.0,1.0,0.0,1.229098,0.790791,-0.202791,0.825328,0.763585,0.420611,0.623840
996,0.0,1.0,1.0,0.0,1.0,1.606168,0.893916,0.488430,-1.220940,-0.789410,1.339112,1.312405
997,1.0,2.0,2.0,2.0,2.0,1.530754,-1.134195,1.420130,1.507418,-0.020486,1.508934,-1.441855
998,1.0,0.0,3.0,2.0,0.0,0.625785,-0.652949,-0.375597,-0.879895,-0.844230,-1.622733,-0.753290
999,1.0,0.0,2.0,2.0,0.0,-0.430011,-1.168570,-0.513358,-0.197806,1.233884,-0.245895,-0.753290